<h2 style="text-align:center;">NG Tesseract OCR Component</h2>
<h3 style="text-align:center;">Simple OCR Text</h3>

<div style="margin:20px auto; width:800px; text-align: center;">
  <ocr-scanner
    image="https://tesseract.projectnaptha.com/img/eng_bw.png"
    lang="eng">
  </ocr-scanner>
</div>

<h3 style="text-align:center;">OCR with Rect (draw a rect over the image, check console.log)</h3>

<div style="margin:20px auto; width:800px; text-align: center;">
  <ocr-scanner-draw
    image="https://tesseract.projectnaptha.com/img/eng_bw.png"
    lang="eng"
    [width]="370"
    [height]="166"
    
    (ocrText)="getOcrText($event)">
  </ocr-scanner-draw>
</div>